.app.dark {
	--bg-color: #030303;
	--inverted-bg-color: #1f1f1f;
	--primary-color: #adadad;
	--secondary-color: #999;
	--inverted-primary-color: #adadad;
	--inverted-secondary-color: #999;
	--inverted-color: #adadad;
}
