.app.light{ 
	--bg-color: #cfcfcf;
	--inverted-bg-color: #ababab;
	--primary-color: #0a0a0a;
	--secondary-color: #424242;
	--inverted-primary-color: #adadad;
	--inverted-secondary-color: #999;
	--inverted-color: #1f1f1f;
}
